{% csrf_token %}

{% if form.non_field_errors %}
  <div class="row">
    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
  </div>
{% endif %}

{% for field in form %}
  <div class="form-group">
    {{ field.errors }}
    
    <label class="col-sm-4 control-label">
      {{ field.label }}
    </label>
    
    <div class="col-sm-4">
      {{ field }}
    </div>
    
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
  </div>
{% endfor %}
