{% extends './base.html' %}

{% block header %}
  <h1>
    {% if header == 'index' %}
      New questions
      <small><a href="{% url 'hot' %}">Hot questions</a></small>
    {% elif header == 'hot' %}
      Hot questions
      <small><a href="{% url 'index' %}">New questions</a></small>
    {% elif header == 'tag' %}
      Tagged questions
      <small>{{ tag }}</small>
    {% endif %}
  </h1>
{% endblock %}

{% block userblock %}
  {% include './userblock_auth.html' %}
{% endblock %}

{% block content %}
  <div class="list-group">
    {% for q in questions %}
      <div class="row list-group-item">
        <div class="col-sm-2">
          {% load static %}
          <img src="{% static "./img/avatar.jpg" %}" class="img-responsive img-rounded">
          <br>
          <input type="number" class="form-control" value="5">
        </div>
        <div class="col-sm-10">
          <h4 class="list-group-item-heading"><a href="{% url 'question' q.id %}">{% lorem 6 w random %} <small>#{{ q.title }}</small> </a></h4>
          <p class="list-group-item-text">{% lorem 1 b random %}</p>
          <br>
          <div class="row">
            <p class="col-sm-2"><a href="/question">answers (3)</a></p>
            <p class="col-sm-10">
              Tags:
              {% for t in qtags %}
                  <a href="{% url 'tag' 'bender' %}">{% lorem 1 w random %}</a>
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}

    {% include './paginator.html' with objects=questions %}
  </div>
{% endblock %}
