{% extends './base.html' %}

{% block header %}
  <h1>
    {% if header == 'index' %}
      New questions
      <small><a href="{% url 'hot' %}">Hot questions</a></small>
    {% elif header == 'hot' %}
      Hot questions
      <small><a href="{% url 'index' %}">New questions</a></small>
    {% elif header == 'tag' %}
      Tagged questions
      <small>{{ tag }}</small>
    {% endif %}
  </h1>
{% endblock %}

{% block content %}
  <div class="list-group">
    {% for q in questions %}
      <div class="row list-group-item">
        <div class="col-sm-2">
          <img src="/uploads/{{ q.author.avatar.name }}" class="img-responsive img-rounded">
          <br>
          <input type="number" class="form-control" value="{{ q.rating }}">
        </div>
        <div class="col-sm-10">
          <h4 class="list-group-item-heading">
            <a href="{% url 'question' q.id %}">
              {{ q.title }} <small>{{ q.author.user.username }}</small>
            </a>
          </h4>
          <p class="list-group-item-text">
            {{ q.content }}<br>
            {% lorem 1 b random %}
          </p>
          <br>
          <div class="row">
            <p class="col-sm-3">
              <a href="{% url 'question' q.id %}">
                answers ({{ q.answer_set.count }})
              </a>
            </p>
            <p class="col-sm-9">
              Tags:
              {% for t in q.taglist %}
                <a href="{% url 'tag' t.content %}">
                  {{ t.content }}
                </a>
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}

    {% include './paginator.html' with objects=questions %}
  </div>
{% endblock %}
