{% extends "./base.html" %}

{% block header %}
  <h1>Log In</h1>
{% endblock %}

{% block userblock %}
  {% include "./userblock_anon.html" %}
{% endblock %}

{% block content %}
  <form action="{% url 'login' %}" method="post" class="form-horizontal">
    {% include './form_snippet.html' %}
   
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-10">
        <button type="submit" class="btn btn-default">Log in!</button>
      </div>
    </div>
    
    <input name="continue" type="hidden" value="{{ location }}">
  </form>
  
  <div class="col-sm-offset-4 col-sm-10"><a href="{% url 'signup' %}">create new account</a></div>
{% endblock %}
