{% extends "./base.html" %}

{% block header %}
  <div class="row">
    <div class="col-sm-3">
      {% load static %}
      <img src="/uploads/{{ question.author.avatar.name}}" class="img-responsive img-rounded">
      <br>
      <input type="number" class="form-control" value="{{ question.rating }}">
    </div>
    <div class="col-sm-9">
      <h3>{{ question.title}}</h3>
      {% lorem 2 p random %}
      <p>
        Tags:
        {% for t in question.taglist %}
          <a href="{% url 'tag' t.content %}">{{ t.content }}</a>
        {% endfor %}
      </p>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="list-group">
    {% for a in answers %}
      <div class="row list-group-item">
        <div class="col-sm-2 ">
          <img src="/uploads/{{ a.author.avatar.name}}" class="img-responsive img-rounded">
          <br>
          <input type="number" class="form-control" value="{{ a.rating }}">
        </div>

        <div class="col-sm-10">
          <small>{{ a.id }}</small>
          <p class="list-group-item-text">{% lorem 1 b random %}</p>
          <div class="checkbox">
            <label>
              <input type="checkbox" {% if a.is_correct %}checked{% endif %}> Correct!
            </label>
          </div>
        </div>
      </div>
    {% endfor %}

    {% include './paginator.html' with objects=answers %}

    <form class="row">
      <div class="form-group">
        <textarea class="form-control" placeholder="Enter your answer here..." rows="4"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">
        Answer
      </button>
    </form>
  </div>
{% endblock %}
