{% extends "./base.html" %}

{% block header %}
  <h1>Settings: {{ user.username }}</h1>
{% endblock %}

{% block content %}
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-4 control-label">Login</label>
    <div class="col-sm-4">
      <input type="text" class="form-control"  maxlength="32" required placeholder="Login">
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-4 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" required placeholder="Email">
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-4 control-label">NickName</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" maxlength="32" required placeholder="NickName">
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-4 control-label">Upload avatar</label>
    
    <div class="col-sm-4">
      <img src="/uploads/{{ user.profile.avatar.name }}" class="img-responsive img-thumbnail" >
      <input type="file">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-10">
      
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
</form>
{% endblock %}
